@import '../app.css';

.aboutContainer {
  text-align: center;
  padding: 20px;
  background-color: var(--primary-bg);
  color: var(--black);
  font-family: var(--body-text);
  line-height: 1.6;
}

.heading {
  font-size: 2rem;
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  margin-bottom: 15px;
  display: inline-block;
}

.text {
  margin-bottom: 15px;
  text-align: justify;
}

.paragraph {
  margin-bottom: 16px;
}

.toggleButton {
  font-size: 1rem;
  font-weight: bold;
  padding: 10px;
  border: none;
  color: var(--primary-bg);
  background-color: var(--primary-color);
  cursor: pointer;
  transition: background-color 0.3s;
}


