@import '../app.css';

.contactContainer {
  padding: 20px;
  background-color: var(--spicet);
  color: var(--black);
  box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  text-align: center;
}

.heading {
  font-size: 2rem;
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  margin-bottom: 20px;
  display: inline-block;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.formGroup {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  font-size: 1rem;
  color: var(--spicez);
  margin-bottom: 5px;
}

.input, .textarea {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  transition: border-color 0.3s;
}

.input:focus, .textarea:focus {
  border-color: var(--primary-color);
  outline: none;
}

.textarea {
  resize: vertical;
}

.submitButton {
  font-size: 1rem;
  font-weight: bold;
  padding: 12px;
  border: none;
  border-radius: 4px;
  color: var(--primary-bg);
  background-color: var(--primary-color);
  cursor: pointer;
  transition: background-color 0.3s;
}


