@import '../app.css';

.faqContainer {
  margin: 0 auto;
  padding: 20px;
  background-color: #5149900d;
}

.heading {
  font-size: 2rem;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 20px;
}

.faqList {
  display: flex;
  flex-direction: column;
}

.faqItem {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 0;
}

.question {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--spicez);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: color 0.3s;
}

.question:hover {
  color: var(--primary-color);
}

.icon {
  font-size: 1.5rem;
  color: var(--primary-color);
}

.answer {
  font-size: 1rem;
  color: var(--spicez);
  margin-top: 10px;
  line-height: 1.5;
  text-align: justify;
}
