.hero {
  background: linear-gradient(135deg, var(--primary-color) 0%, var(--primary-color) 50%, var(--primary-color) 100%);
  padding: 4rem 1rem;
}

.heroWrapper {
  max-width: 1200px;
  margin: auto auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 100dvh;
  gap: 2rem;
  margin-top: -64px;
}

.heroText {
  flex: 1;
  text-align: left;
}

.heroTitle {
  font-size: 3rem;
  font-weight: 800;
  color: var(--white);
  margin-bottom: 1.5rem;
  line-height: 1.2;
  font-family: var(--primary-font);
}

.heroSubtitle {
  max-width: 30rem;
  font-size: var(--Text-Four);
  color: var(--lavender);
  margin-bottom: 2.5rem;
  line-height: 1.5;
}

.heroButtons {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.heroImage {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100%;
  overflow: hidden;
}

.heroImage img {
  width: 100%;
  max-width: 500px; 
  height: auto;
  object-fit: contain;
  border-radius: 1rem;
}


/* Buttons */
.primaryButton {
  padding: 0.75rem 1.5rem !important;
  border-radius: 0.375rem;
  font-size: var(--Text-Four);
  font-weight: 500;
  background-color: var(--white) !important;
  color: var(--primary-color) !important;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.primaryButton:hover {
  background-color: var(--lavender) !important;
}

.secondaryButton {
  padding: 0.75rem 1.5rem !important;
  border-radius: 0.375rem;
  font-size: var(--Text-Four);
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.3) !important;
  color: var(--black) !important;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.secondaryButton:hover {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

/* Responsive */
@media (max-width: 768px) {
  .heroWrapper {
    flex-direction: column;
    text-align: center;
    margin-top: 0;
    padding-top: var(--header-height);
  }

  .heroText {
    text-align: center;
  }

  .heroImage {
    width: 100%;
    margin-top: 2rem;
  }

  .heroImage img {
    max-width: 100%;
    height: auto;
  }

  .heroTitle {
    font-size: 2.25rem;
  }

  .heroButtons {
    flex-direction: column;
    align-items: center;
  }
}
