.hero {
  background: linear-gradient(135deg, var(--primary-color) 0%, var(--primary-color) 50%, var(--primary-color) 100%);
  padding: 4rem 1rem;
}

.heroContainer {
  max-width: 1200px;
  height: 60dvh;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heroTitle {
  font-size: 3rem;
  font-weight: 800;
  color: var(--white);
  margin-bottom: 1.5rem;
  line-height: 1.2;
  font-family: var(--primary-font);
}

.heroSubtitle {
  max-width: 30rem;
  margin: 0 auto;
  font-size: var(--Text-Four);
  color: var(--lavender);
  margin-bottom: 2.5rem;
  line-height: 1.5;
}

.heroButtons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.primaryButton {
  padding: 0.75rem 1.5rem !important;
  border-radius: 0.375rem;
  font-size: var(--Text-Four);
  font-weight: 500;
  background-color: var(--white);
  color: var(--primary-color);
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-weight: 500;
  background-color: var(--white) !important;
  color: var(--primary-color) !important;
}

.primaryButton:hover {
  background-color: var(--lavender) !important;
  font-weight: 500 !important;
}

.secondaryButton {
  padding: 0.75rem 1.5rem !important;
  border-radius: 0.375rem;
  font-size: var(--Text-Four);
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.3) !important;
  color: var(--black) !important;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.secondaryButton:hover {
  background-color: rgba(255, 255, 255, 0.5) !important;
  font-weight: 500 !important;
}

@media (max-width: 768px) {
  .heroTitle {
    font-size: 2.25rem;
  }
  
  .heroSubtitle {
    font-size: var(--Text-Four);
  }
  
  .heroButtons {
    flex-direction: column;
    align-items: center;
  }
}