@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Libre+Baskerville&display=swap');

.testimonialsSection {
    padding: 50px 20px;
    background-color: rgba(220, 234, 239, 0.7);
    text-align: center;
}

.heading {
    font-family: var(--primary-font);
    font-size: 2rem;
    color: var(--primary-color);
    margin-bottom: 20px;
    text-transform: uppercase;
}

.slider {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
}

.testimonialCard {
    background-color: var(--primary-bg);
    padding: 20px;
    border-radius: 10px;
    box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.5);
    border-left: 5px solid var(--theme);
    transition: opacity 0.5s ease-in-out;
}

.quote {
    font-family: var(--body-text);
    font-size: 1.2rem;
    line-height: 1.6;
    color: var(--black);
    margin-bottom: 15px;
    font-style: italic;
}

.author {
    font-family: var(--primary-font);
    font-size: 1rem;
    color: var(--primary-color);
    font-weight: bold;
}

.role {
    font-family: var(--body-text);
    font-size: 0.9rem;
    color: var(--spice);
}

.navigation {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
}

.navButton {
    font-size: 1.5rem;
    color: var(--primary-color);
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.navButton:hover {
    color: var(--theme);
}
