.billingContainer {
  margin: 20px auto;
  max-width: 95%; 
  text-align: center;
}

.transactionList {
  max-width: 1200px;
  margin: 0 auto;
  font-family: var(--body-text);
  background-color: var(--primary-bg);
  border-radius: 8px;
  padding: 0.5rem 0;
}

.transactionRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid var(--grey);
}

.transactionRow:last-child {
  border-bottom: none;
}

.leftSection {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.noBooking {
  color: var(--primary-color);
}

.statusDot {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: var(--white);
  font-weight: bold;
}

.successDot {
  background-color: #16a34a; 
}

.failedDot {
  background-color: #dc2626; 
}

.textInfo {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  align-items: start;
  text-align: left;
}

.transactionType {
  font-size: var(--Text-Four);
  font-weight: 600;
  color: var(--black);
}

.date {
  font-size: 0.9rem;
  color: var(--ash);
  text-align: left;
}

.meta {
  font-size: 0.8rem;
  color: var(--ash);
  text-align: left;
}

.rightSection {
  text-align: right;
}

.amount {
  font-weight: 600;
  font-size: 1rem;
  color: var(--black);
}

.statusText {
  font-size: 0.85rem;
  font-weight: 500;
}

.successText {
  color: #16a34a;
}

.failedText {
  color: #dc2626;
}



@media (max-width: 768px) {
  .transactionRow {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .rightSection {
    text-align: right;
    align-self: end;
  }

  .amount {
    font-size: 0.95rem;
  }
}
